/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: 0px;
  }
}

.bg-fondo{
  background-color: #d9d0deff;
}

.navbar .nav-link {
  color: #fff !important;
}

.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 375px;
  width: auto;
  box-sizing: content-box;
}

.btn-color {
  background-color: #a04668ff;
}

/* .mask {
    background: linear-gradient(
          45deg,
          rgba(29, 236, 197, 0.7),
          rgba(91, 14, 214, 0.7) 100%
        );
} */

.contenedorMDE {
	margin: auto;
	display: table;
}

.Mde { 
	position: relative; 
  float: left;
  background: #d9d0deff;
	/* color: #fff; */
	font-size: 2.5em;
}

.Mde span {
    position:absolute;
    right:0;
    width:0;
    background: #d9d0deff;
    border-left: 1px solid #000;
    animation: escribir 5s steps(31) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.bg-image-card {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: auto;
  width: auto;
  max-width: 300px;
  box-sizing: content-box;
}

.carrouselClasificados{
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: auto;
  height: auto;
  max-height: 125px;
  /* max-width: 125px; */
  box-sizing: content-box;
}

.imgCategorias{
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: auto;
  height: auto;
  max-height: 125px;
  /* max-width: 125px; */
  box-sizing: content-box;
}

.navbar{
  transition: all 1s ease;
}

.scrollMenu {
  background-color: #ab4967ff;
  position: fixed;
  width: 100%;

}

.card-color {
  background-color: #bc8da0ff !important;
}

.drop {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.9));
}

/* 
a:visited {
  color:white;
}

a:link {
  color:white;
}

a:active {
  color:white;
}

a:hover {
  color:white;
} */